DATABASE_URL="postgresql://postgres:bignordeste@db.upaujonwcngtmgztpmsr.supabase.co:5432/postgres"
PORT=8080
API_TOKEN=""
ALLOWED_ORIGINS=http://127.0.0.1:8080,https://bignordesteanalytics.vercel.app
